<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{#if pageTitle }}{{pageTitle}}{{/if}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" /> 
  <meta name="renderer" content="webkit" />
  <link rel="stylesheet" type="text/css" href="{{ BUILD_FILE.dll.css }}">
  <script type="text/javascript" src="{{ BUILD_FILE.dll.js }}"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="{{ BUILD_FILE.js.html5shiv }}"></script>
  <script src="{{ BUILD_FILE.js.respond }}"></script>
  <![endif]-->
</head>
<body class="hold-transition {{#if bodyStyle}}{{ bodyStyle }}{{/if}}">