{{{ Header }}}
<div class="wrapper">
  {{{ TopNav }}}
  {{{ Sidebar }}}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!--crumbs or contabs-->
    {{{ Crumbs }}}
    <!-- Main content -->
    <section class="content">
      {{{ Content }}}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {{{ Footer }}}
</div>
<!-- ./wrapper -->
